<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
  <title>Gestão de Salas de Aula</title>
</head>
<body>
  <div class="container">
    <h1>Gestão de Salas de Aula</h1>
    <a href="/manutSalaDeAula" class="btn btn-primary">Manutenção de Salas de Aula</a>
  </div>
</body>
</html>